.CallToSignup {
  padding-top: 0;
}

.call_to_signup_wrapper {
  background-color: #f0f0f0;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  border-radius: 5px;
  overflow: hidden;
}
