.listing-img {
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
}

.listing-text {
  margin: 10px;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.ScrollMenu {
  margin-left: -100px;
}

.featured-section {
  margin-bottom: 30px;
}

.FeaturedServices .services_list_mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.FeaturedServices .featured_listing {
  width: 250px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

.FeaturedServices .featured_listing_mobile {
  margin-top: 20px;
}