.service_review_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service_review_card_mobile {
  width: 250px;
  margin: 10px 10px 10px 0;
}

.service_review_card hr {
  width: 50px;
}

.service_review_card .avatar {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}