.DivImg {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.DivImg .img {
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;

  flex-grow: 1;
  display: flex;
}