.Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 250px;
  background-color: #6433B0;
  margin-top: 0 !important;
}

.Footer .logo {
  width: 70px;
  height: 70px;
  filter: invert(100%);
}

.Footer .company_info {
  color: #adadad;
}

.Footer .company_info h1 {
  margin-bottom: 5px;
}

.Footer .modal-card {
  border-radius: 6px;
}