.Footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px;
}

.Footer .logo {
  width: 70px;
  height: 70px;
  filter: invert(100%);
}

.Footer {
  background-color: #000000;
  margin-top: 80px;
}

.Footer .company_info {
  color: #adadad;
}

.Footer .company_info h1 {
  margin-bottom: 5px;
}