.deep_query_wrapper {
  background-color: ghostwhite;
}

.deep_query_close_icon {
  font-size: 1.5rem !important;
}

.deep_query_wrapper .all_answers {
  /*color: lightgray;*/
}

.ListingDetailPage {
  background-color: ghostwhite;
}