.deep_query_wrapper {
  background-color: ghostwhite;
}

.deep_query_wrapper i.fas {
  font-size: 1.5rem;
}

.deep_query_wrapper .all_answers {
  /*color: lightgray;*/
}

.ListingDetailPage {
  background-color: ghostwhite;
}