.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.QueryN .final_answer_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}

.QueryN .focused {
  border-style: solid;
  border-width: 2.5px;
  border-color: cornflowerblue;
}