.ListingDetailUserInfoForm i.fas {
  font-size: 1rem;
}

.ListingDetailUserInfoForm .all_answers {
  color: lightgray;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__time-list-item--disabled {
  display: none;
}